.logo {
    font-family: Aeonik;
    font-size: 20px;
    font-weight: 500;
    color: #AD3307;
    ;
    
}
.login {
    width: 119px;
    height:  41px;
    padding: 12px 10px 12px 10px;
    gap: 10px;
    background-color: #AD3307;
    font-family: Aeonik;
    font-size: 14px;
    font-weight: 700;
    line-height: 16.8px;
    color: #FFFFFF;
    border-radius: 8px;
    justify-content: flex-end;

}
.companyName{
    display: flex;
    flex-direction: row;
    gap: 8px;
    line-height: 2px;
    align-items: center;
    text-align: center;
}